{% extends "layout.njk" %}
{% block title %}{{errorTitle}} Login{% endblock %}
{% block content %}

            <form action="/login" method="POST" class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                        Please login
                    </h1>
                    </legend>
                    {% if errors %}
                        <div class="nhsuk-error-summary" role="alert" aria-labelledby="error-summary-title">
                            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="nhsuk-error-summary__body">
                                <p>
                                    Please fix the following issues
                                </p>
                                <ul class="nhsuk-list nhsuk-error-summary__list">
                                    {% for error in errors %}
                                        <li><a href="#{{ error.path }}">{{ error.msg }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# input macro #}
                    {% macro field(text, id, name, type='text', value, fieldErrorName) %}

                        {% set searchField = true %}

                        {# for div errrors #}
                        {% set searchFieldDiv = true %}
                        {% for error in errors %}
                            {% if error.path == fieldErrorName and searchFieldDiv %}
                                {% set searchField = false %}
                            <div class="nhsuk-form-group nhsuk-form-group--error" >
                                <label class="nhsuk-label" for="{{ id }}">{{text | capitalize}}:</label>
                                {% set searchFieldDiv = false %}
                            {% endif %}
                        {% endfor %}

                        {# for span errors #}
                        {% for error in errors %}
                            {% if error.path == fieldErrorName %}
                                <span class="nhsuk-error-message nhsuk-u-margin-bottom-0" id="email-error">
                                                <span class="nhsuk-u-visually-hidden">Error:</span>
                                                {{ error.msg }}
                                            </span>
                            {% endif %}
                        {% endfor %}

                        {# for input errors #}
                        {% set searchFieldInput = true %}
                        {% for error in errors %}
                            {% if error.path == fieldErrorName and searchFieldInput%}
                                <input class="nhsuk-input nhsuk-u-width-two-thirds nhsuk-form-group--error"
                                       id="{{id}}" name="{{name}}" type="{{type}}" value={{value}} />
                                </div>
                                {% set searchFieldInput = false %}
                            {% endif %}
                        {% endfor %}

                        {# for non errors if errors array < 1 #}
                        {% if searchField  %}
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="{{ id }}">{{text | capitalize}}:</label>
                            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="{{id}}" name="{{name}}" type="{{type}}" value={{value}}>
                        </div>
                        {% endif %}
                    {% endmacro %}

                    <script> console.log('{{ value | dump | safe }}')</script>

                    {{ field(text='first name', id='firstName', name='firstName', type='text', value=value.firstName, fieldErrorName='firstName') }}
                    {{ field(text='last name', id='lastName', name='lastName', type='text', value=value.lastName, fieldErrorName='lastName') }}
                    {{ field(text='email', id='email', name='email', type='email', value=value.email, fieldErrorName='email') }}
                    {{ field(text='password', id='password', name='password', type='password', value=value.password, fieldErrorName='password') }}
                    {{ field(text='confirm password', id='confirmPassword', name='confirmPassword', type='password', value=value.confirmPassword, fieldErrorName='confirmPassword') }}


                    <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">
                      Submit
                    </button>
                </fieldset>
            </form>
        </div>
{% endblock %}